@import "normalize";
@import "./variables/global";
@import "./themes/light";
@import "./themes/dark";

body {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--primary-color);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input,
button,
textarea,
select {
    margin: 0;
    font: inherit;
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
}

.min-height-auto {
    min-height: auto;
}

.no-background {
    background: none;
}

#storybook-root {
    width: 100%;
}
