.Button {
    cursor: pointer;
}

.clear {
    text-decoration: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    background: none;
}

.outline {
    padding: 10px 15px 1;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: none;
}
