.InputWrapper {
    display: flex;
    white-space: nowrap;
}

.input {
    background: transparent;
    border: 0;
    outline: none;
    width: 100%;
    color: var(--primary-color);

    &:focus {
        outline: none;
    }
}

.placeholder {
    margin-right: 5px;
}

.readonly {
    opacity: 0.7;
}
