.app_theme_dark {
    --bg-color: #090949;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #04ff04;
    --seconday-color: #049604;
    --inverted-primary-color: #0232c2;
    --inverted-seconday-color: #0452ff;
}
