.app_theme_dark {
    --bg-color: #090949;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #04ff04;
    --seconday-color: #049604;
    --inverted-primary-color: #0232c2;
    --inverted-secondary-color: #0452ff;

    // Skeleton
    --skeleton-color: rgba(21 21 173 / 85%);
    --skeleton-shadow: #2b2be8;

    // code
    --code-bg: rgba(49 49 176 / 85%);

    // card bg
    --card-bg: #0b0b5b;
}
