.app_theme_violet {
    --bg-color: #fbf4f4;
    --inverted-bg-color: #582b2b;
    --primary-color: #000;
    --seconday-color: #b2adad;
    --inverted-primary-color: #fff;
    --inverted-secondary-color: #fbf4f4;

    // Skeleton
    --skeleton-shadow: rgba(234 215 215 / 80%);
    --skeleton-color: rgba(109 5 5 / 12%);

    // code
    --code-bg: #ededed;
}
