.app_theme_violet {
    --bg-color: #fbf4f4;
    --inverted-bg-color: #582b2b;
    --primary-color: #000;
    --seconday-color: #b2adad;
    --inverted-primary-color: #fff;
    --inverted-secondary-color: #fbf4f4;

    // Skeleton
    --skeleton-shadow: rgba(213 120 120 / 30%);
    --skeleton-color: rgba(255 255 255 / 100%);

    // code
    --code-bg: #ededed;

    // card bg
    --card-bg: #e4d9d9;
}
