.app_theme_violet {
    --bg-color: #fbf4f4;
    --inverted-bg-color: #582b2b;
    --primary-color: #000;
    --seconday-color: #3e211e;
    --inverted-primary-color: #fff;
    --inverted-secondary-color: #fbf4f4;
}
